{
  "extends": "vtex",
  "root": true,
  "env": {
    "node": true
  },
  "rules": {
    "prefer-const":"off",
    "prefer-destructuring":"off",
    "@typescript-eslint/restrict-plus-operands":"off",
    "prefer-template":"off"
  }
}
